streamlit
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters
langgraph
tavily-python
openai
pandas
numpy
pypdf
pymongo
chromadb
pillow
dashscope
python-dotenv
PyYAML
protobuf==3.20.3